Repository etspaceman/kinesis4cats, pull requests merged in 2023-02, with the labels that each got.

#35 Update cats-effect to 3.4.6
  project/LibraryDependencies.scala
Labels: dependency-update

#38 Update fs2-core, fs2-reactive-streams to 3.6.0
  project/LibraryDependencies.scala
Labels: dependency-update

#39 Update fs2-core, fs2-reactive-streams to 3.6.1
  project/LibraryDependencies.scala
Labels: dependency-update

#40 Update smithy4s-core, smithy4s-http4s, ... to 0.17.3
  project/plugins.sbt
Labels: dependency-update

#42 Update ciris to 3.1.0
  project/LibraryDependencies.scala
Labels: dependency-update

#43 Update sbt-scoverage to 2.0.7
  project/plugins.sbt
Labels: dependency-update

#36 Smithy4s Kinesis Client
  .github/actions/upload-coverage/action.yml
  .github/workflows/ci.yml
  .gitignore
  .jvmopts
  .mergify.yml
  .scalafix.conf
  .scalafmt.conf
  README.md
  build.sbt
  docs/smithy4s/circe.md
  docs/smithy4s/directory.conf
  docs/smithy4s/getting-started.md
  docs/smithy4s/localstack.md
  kcl/src/main/scala/kinesis4cats/kcl/RecordProcessor.scala
  kcl/src/test/scala/kinesis4cats/kcl/RecordProcessorSpec.scala
  project/BloopSettings.scala
  project/DockerComposePlugin.scala
  project/DockerImagePlugin.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/plugins.sbt
  shared-ciris/src/main/scala/kinesis4cats/ciris/CirisReader.scala
  shared-localstack/src/main/scala/kinesis4cats/localstack/LocalstackConfig.scala
  shared/src/main/scala/kinesis4cats/models/ConsumerArn.scala
  shared/src/main/scala/kinesis4cats/models/StreamArn.scala
  smithy-build.json
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client-logging-circe/src/main/scala/kinesis4cats/smithy4s/client/logging/instances/circe.scala
  smithy4s-client-tests/src/it/resources/logback-test.xml
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-transformers/src/main/resources/META-INF/services/software.amazon.smithy.build.ProjectionTransformer
  smithy4s-client-transformers/src/main/scala/kinesis4cats/smithy4s/client/KinesisSpecTransformer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/KinesisClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/logging/instances/show.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/Utils.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/package.scala
Labels: enhancement

#45 Kinesis Producers
  .github/workflows/ci.yml
  .mergify.yml
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
  build.sbt
  docs/client/getting-started.md
  docs/client/localstack.md
  docs/localstack/getting-started.md
  docs/smithy4s/getting-started.md
  docs/smithy4s/localstack.md
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client-producer-tests/src/it/resources/logback-test.xml
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/KinesisProducerSpec.scala
  kinesis-client-tests/src/it/scala/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kpl-localstack/src/main/scala/kinesis4cats/kpl/localstack/LocalstackKPLProducer.scala
  project/DockerComposePlugin.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/plugins.sbt
  shared-circe/src/main/scala/kinesis4cats/producer/logging/instances/circe.scala
  shared-localstack/src/main/scala/kinesis4cats/localstack/LocalstackConfig.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/main/protobuf/messages.proto
  shared/src/main/scala/kinesis4cats/logging/instances/show.scala
  shared/src/main/scala/kinesis4cats/models/HashKeyRange.scala
  shared/src/main/scala/kinesis4cats/models/ShardId.scala
  shared/src/main/scala/kinesis4cats/models/StreamNameOrArn.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/main/scala/kinesis4cats/producer/logging/instances/show.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client-producer-tests/src/it/resources/logback-test.xml
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/KinesisClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/package.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Labels: shared, shared-localstack, smithy4s-client, smithy4s-client-localstack, kcl-tests, kinesis-client, kinesis-client-localstack, aws-v1-localstack, aws-v2-localstack, kinesis-client-tests, shared-circe, kpl-localstack

#49 More scaladoc / mdoc updates
  docs/client/getting-started.md
  docs/kcl/ciris.md
  docs/kcl/fs2.md
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  docs/kpl/getting-started.md
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
Labels: shared

#53 Kinesis Aggregation
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  compat/src/main/scala-2.12/kinesis4cats/compat/LazyListCompat.scala
  compat/src/main/scala-2.13/kinesis4cats/compat/LazyListCompat.scala
  compat/src/main/scala-3/kinesis4cats/compat/LazyListCompat.scala
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  kcl-tests/src/it/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kernel-tests/src/main/scala/kinesis4cats/TestData.scala
  kernel-tests/src/main/scala/kinesis4cats/syntax/scalacheck.scala
  kinesis-client-tests/src/it/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/it/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared-ciris/src/main/scala/kinesis4cats/ciris/CirisReader.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/ShowBuilder.scala
  shared/src/main/scala/kinesis4cats/models/ConsumerArn.scala
  shared/src/main/scala/kinesis4cats/models/HashKeyRange.scala
  shared/src/main/scala/kinesis4cats/models/ShardId.scala
  shared/src/main/scala/kinesis4cats/models/StreamArn.scala
  shared/src/main/scala/kinesis4cats/models/StreamNameOrArn.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/Utils.scala
Labels: shared, shared-ciris, smithy4s-client, kcl-tests, kinesis-client-tests, shared-tests, smithy4s-client-tests, compat, kpl-tests

#54 Add putWithRetry
  build.sbt
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/test/resources/logback-test.xml
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Labels: shared, smithy4s-client, kinesis-client

#59 Update the KPL to 0.15.5
  .jvmopts
  .scala-steward.conf
  docker/docker-compose-fun.yml
  docker/docker-compose-it.yml
  kpl-localstack/src/main/scala/kinesis4cats/kpl/localstack/LocalstackKPLProducer.scala
  kpl-tests/src/it/resources/logback-test.xml
  kpl-tests/src/it/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/LibraryDependencies.scala
  shared-localstack/src/main/scala/kinesis4cats/localstack/LocalstackConfig.scala
Labels: dependency-update, shared-localstack, kpl-localstack, kpl-tests

#65 Move everything to Test scope, remove IT/Fun scopes
  .github/workflows/ci.yml
  .jvmopts
  build.sbt
  docker/docker-compose-it.yml
  docker/docker-compose.yml
  kcl-tests/src/it/resources/logback-test.xml
  kcl-tests/src/test/resources/logback-test.xml
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2CirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2ShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/http4s/TestKCLServiceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kinesis-client-producer-tests/src/test/resources/logback-test.xml
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  kinesis-client-tests/src/test/resources/logback-test.xml
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientCirceSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientShowSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/test/resources/logback-test.xml
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecCirce.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecShow.scala
  project/DockerComposePlugin.scala
  project/Kinesis4CatsPlugin.scala
  smithy4s-client-producer-tests/src/test/resources/logback-test.xml
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/resources/logback-test.xml
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Labels: kcl-tests, kinesis-client-tests, kinesis-client-producer-tests, smithy4s-client-producer-tests, smithy4s-client-tests, kpl-tests

#67 Better resource management for the KCL
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
Labels: kcl, kpl

#66 UUIDGen instead of java.util.UUID + Build Updates
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-fs2/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl-tests/src/main/scala/kinesis4cats/kcl/http4s/TestKCLService.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2ShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientCirceSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientShowSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecCirce.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecShow.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared-tests/src/main/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Labels: kcl, shared, kcl-tests, aws-v2-localstack, kinesis-client-tests, kinesis-client-producer-tests, shared-tests, smithy4s-client-producer-tests, smithy4s-client-tests, kpl-tests, kcl-fs2, kcl-ciris, kcl-localstack, kpl

#52 Scala Native and JS tests for smithy4s client
  .github/workflows/ci.yml
  build.sbt
  kernel-tests/src/main/scala/kinesis4cats/SSL.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/plugins.sbt
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientJSSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientNativeSpec.scala
Labels: kcl, shared, kcl-tests, kinesis-client-tests, kinesis-client-producer-tests, shared-tests, smithy4s-client-producer-tests, smithy4s-client-tests, kpl-tests, kernel-tests, kcl-fs2, kcl-ciris, kcl-localstack, kpl

#71 Logback fixes for tests
  build.sbt
  kcl/src/test/resources/logback-test.xml
  project/Kinesis4CatsPlugin.scala
Labels: kcl
