Repository etspaceman/kinesis4cats, pull requests merged in 2023-06, with the labels that each got.

#145 Refactor Producer Results + Better FS2 Error Handling + Public Retry
  compat/src/main/scala/kinesis4cats/compat/retry/PolicyDecision.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryDetails.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryPolicies.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryPolicy.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryStatus.scala
  docs/client/localstack.md
  docs/kcl/getting-started.md
  docs/kpl/localstack.md
  docs/smithy4s/localstack.md
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  shared/src/test/scalajvm/kinesis4cats/MD5Spec.scala
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Labels: shared, smithy4s-client, smithy4s-client-localstack, kinesis-client, kinesis-client-localstack, compat

#159 Add missing method
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Labels: smithy4s-client

#161 Allow setting underlying producer config
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Labels: smithy4s-client

#162 Remove unused config
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Labels: shared

#164 Nested effects for FS2Producer return type
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  integration-tests/src/test/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Labels: shared, smithy4s-client, smithy4s-client-localstack, kinesis-client, kinesis-client-localstack, integration-tests

#167 Add tryPut to FS2Producer
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Labels: shared, smithy4s-client, smithy4s-client-localstack, kinesis-client, kinesis-client-localstack, integration-tests
