Repository etspaceman/kinesis4cats, pull requests merged in 2023-03, with the labels that each got.

#80 Upgrade circe to 0.14.5
  .scala-steward.conf
  project/LibraryDependencies.scala
Labels: dependency-update

#81 Use FS2 Streams for responses to SubscribeToShard + Paginated Requests
  build.sbt
  docs/client/localstack.md
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
  kinesis-client/src/main/scala/kinesis4cats/client/logging/instances/show.scala
Labels: kinesis-client, kinesis-client-localstack, integration-tests, kinesis-client-logging-circe

#88 Update amazon-kinesis-client to 2.4.8
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/eq.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/show.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  project/LibraryDependencies.scala
Labels: kcl, kcl-ciris, kcl-localstack, integration-tests
